<h1>Listing teachers_classrooms</h1>

<table>
  <tr>
    <th>Teacher</th>
    <th>Classroom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers_classrooms.each do |teachers_classroom| %>
  <tr>
    <td><%= teachers_classroom.teacher %></td>
    <td><%= teachers_classroom.classroom %></td>
    <td><%= link_to 'Show', teachers_classroom %></td>
    <td><%= link_to 'Edit', edit_teachers_classroom_path(teachers_classroom) %></td>
    <td><%= link_to 'Destroy', teachers_classroom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teachers classroom', new_teachers_classroom_path %>
